TMDB_API_BASE_URL=https://api.themoviedb.org/3
TMDB_API_KEY=124d3251189867777f411b5b173c5c7e
NEXT_PUBLIC_APP_NAME=HomeFlix
NEXT_PUBLIC_DEFAULT_PROVIDER=vidking
VIDKING_BASE_URL=https://www.vidking.net/embed
